
/* COULEURS - NE PAS MODIFIER */

:root{
    --bleuvert: #163E3B;
    --vertpomme: #7DD68A;
    --gris: #283036;
    --noir: #131D1D;
    --blanc: #FDFFFB;
}

/* TYPOGRAPHIES - NE PAS MODIFIER */


#navbar {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 1rem;
}

h1 {
    font-family: 'montserrat';
    font-weight:700;
    font-size: 2.6rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'montserrat';
    font-weight:600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--blanc);
}

h3 {
    font-family: 'montserrat';
    font-weight:600;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--blanc);
}

h4 {
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 1.25rem;
}

h5 {
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 1rem;
    color: #7DD68A;
}

h6 {
    font-family: 'montserrat';
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--blanc);
}

p {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: none;
}

/* BOUTON - NE PAS MODIFIER */

.btn-lien {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 40px;
    background-color: var(--bleuvert);
    color: var(--vertpomme);
    border: 2px var(--vertpomme) solid;
    padding: 0.6rem 2rem;
    margin: 0 auto;
} 

.lireplus {
    color: var(--vertpomme);
    font-family: 'montserrat';
    font-weight: 500;
    font-size: 1.1rem;
}

/* NAVBAR - NE PAS MODIFIER */

#navbar {
    background-color: var(--noir);
}

.nav-link {
    color: var(--blanc);
}

#navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-toggler-icon {
    background-image: url("../icon/icon-menu.svg");
}

.icon-panier {
    order: 3;
    margin-right: 10px;
    margin-left: 50px;
}

#navbar a:hover {
    text-decoration: underline;
}

.activecolor {
    background-color: #7DD68A !important;
    color: var(--noir) !important;
    border-radius: 50px;
}

.bgnav {
    background-color: black !important;
    margin-bottom: 1em;
    margin-top: 1em;
}


@media only screen and (max-width: 576px){

    .navbar-toggler {
        order: 1;
    }

    .navbar-brand {
        order: 2;
    }

    #navbarNavAltMarkup {
        order: 4;
    }

    #navbar a {
    padding-left: 15px;
    }

}


/* HEROSHOT - JULIETTE */

#heroshot {
    background-attachment:local;
    background-image: url(../img/img-hero-shot.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroshot h1 {
    padding-bottom: 200px;
    color: var(--blanc);
    padding-bottom: 45vh;
}

#heroshot .btn-lien {
    padding-bottom: 13px;
    padding-top: 13px;

}

#heroshot .btn-lien:hover {
    color:#163E3B;
    background-color: var(--blanc);
    border-color: #163E3B;
}

@media only screen and (max-width: 576px){

    #heroshot {
        height: 50vh;
    }

    #heroshot h1 {
        color: var(--blanc);
        padding-bottom: 25vh;
        font-size: 1.6rem;
    }

}

/* CITATION - JULIETTE */

#citation {
    background-color: #163E3B;
    padding: 80px 0;
}

@media only screen and (max-width: 576px) {

    #citation {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    #citation h2 {
        font-size: 1.4rem;
        padding: 0 20px;
    }
}

/* CARD-Z - JULIETTE */

.card-z {
    background-color: #163E3B;
    color: var(--blanc);
}

.card-z .praticite-utilisation, .card-z .impact-ecologique {    
    display: flex;
    flex-direction: row-reverse;
}

.card-z article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--noir);
    border-radius: 20px;
    margin-top: 24px;
}

.card-z article img {
    height: 50vh;
    object-fit: cover;
    padding: 24px;
    border-radius: 30px;
}

.card-z .btn-lien {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 0;
}

.card-z h2 {
    margin-bottom: 20px;
}

.card-z h3 {
    margin-bottom: 25px;
}

.card-z .sante img {
    height: 50vh;
    object-fit: cover;
    padding: 24px;
    border-radius: 30px;
}

.card-z article div {
    padding: 24px;
    height: 40vh;
}

.texte-impact, .texte-sante, .texte-praticite {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.card-z .btn-lien:hover {
    color:#163E3B;
    background-color: var(--blanc);
    border-color: #163E3B;
}

@media only screen and (max-width: 576px) {
    
    .card-z article div {
        padding: 20px;
    }

    .card-z article {
        height: 40vh;
        margin-top: 16px;
    }

    .card-z h3 {
        font-size: 1.2rem;
    }
    
}


/* NOS VALEURS - JULIETTE */

.nos-valeurs {
    background-color: var(--bleuvert);
    color: var(--blanc);
    display: flex;
}

.nos-valeurs h5 {
     color: #7DD68A;
}

.nos-valeurs h2 {
    padding-top: 100px;
    padding-bottom: 20px;
}

.articles-valeurs {
    background-color: var(--bleuvert);
    display: flex;
    direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    color: var(--blanc);
    padding-top: 20px;
}

.nos-valeurs article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--bleuvert);
}

.nos-valeurs .logo {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: solid 3px var(--vertpomme);
    margin-bottom: 6px;
}

@media only screen and (max-width: 576px) {

    .nos-valeurs p {
        display: none;
    }
    
    .nos-valeurs .logo {
        width: 120px;
        height: 120px;
        padding: 20px;
        border: solid 3px var(--vertpomme);
        margin-bottom: 15px;
        padding: 5px;
    }

    .nos-valeurs h2 {
        font-size: 1.4rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
        padding-bottom: 10px;
    }

    .nos-valeurs h4 {
        font-size: 1.1rem;
        padding-left: 40px;
        padding-right: 40px;
        font-weight: 400;
    }

    .nos-valeurs h5 {
        font-size: 1 rem;
    }
}


/* PRESSE - JULIETTE */

.presse {
    background-color: var(--bleuvert);
    padding: 80px 0;
}

.presse h2 {
    padding-bottom: 20px;
}

.cards-presse {
    padding: 20px 0;
    color: var(--blanc);
}

.cards-presse .dr-good, .cards-presse .le-parisien {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 100px;
    background-color: var(--noir);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    text-transform: lowercase;
    border: solid 2px var(--blanc);
}

.presse .boutonoff {
    color: var(--vertpomme);
    text-decoration: underline;
}

@media only screen and (max-width: 576px) {

    .presse {
        padding: 40px 0;
    }

    .cards-presse .dr-good, .cards-presse .le-parisien {
        padding: 80px 50px;
    }

    .presse h2 {
        padding: 0 100px;
        font-size: 1.4rem;
    }

    .presse h3 {
        font-size: 1.2rem;
    }

}


/* FOOTER - AUDE */

footer{
    background-color:black;
    justify-content: center;
}

.nav-item a{
color: var(--vertpomme);
}

footer p{
    color: var(--blanc);
} 

footer h6 {
    color: var(--blanc);
} 

@media only screen and (max-width: 768px){ 
    footer .row{
        text-align: center;

    }
    
}
